*{
    margin:0;
    padding: 0ch;
}
.container{
    background-color:rgb(255, 255, 255);
    max-height:1550px;
    /*width: 900px;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 109px 555px 555px 555px 200px;
    row-gap: 25px;
    column-gap: 100px;
    

}
.item{
    background-color: rgb(252, 253, 253);
    /*height:166px;
    width: 200px;*/
    margin:0px 12px;
    border-radius: 5px;
  
}
.nav{
    grid-column-start: 1;
    grid-column-end:3;  
    margin:0px 8px;
   
}
.nav .titl img{
    width: 75px;
    height: 75px;
    position:relative;
    border-radius: 72px;
    left: 240px;
    bottom: 18px;    
}
.nav .titl img:hover{
    border: blue 3px solid;
}
.box1{
    grid-column-start: 1;
    grid-column-end:3;
    margin:0px 12px;
    border: 1px solid black;
    border-radius: 15px;
    overflow:hidden;
    position: relative;
    bottom: 25px;   
    text-align: center;
}
.box1 h1{
    position:absolute;
    left: 25%;
    top: 25%;
    font-size: 55px;
    z-index: 1;
    color:rgb(255, 255, 255);    

}
.tint{
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 1);
    position: absolute;
    opacity: 0.56;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}
.but {
    width: 167px;
    height: 67px;
    font-size: 25px;
    font-weight:800;
    padding: 14px;
    background-color: black;
    border: solid 1px #AEACAC;
    border-radius: 14px;
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 42%; 
    font-family:'playfair';
}
a{
    text-decoration: none; 
    color: rgb(252, 249, 249)
}
.but:hover{
    background-color: aliceblue; 
    text-decoration: none;   
    border:rgb(33, 32, 32) solid 1px;
    
}
.but:hover a{
    color: black;
}
.box2{
    grid-column-start: 1;
    grid-column-end:3;
    margin:0px 12px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;  
    position: relative;
    bottom: 25px;
}
.box2 h1,p {
    color: white;
    z-index: 1;
    position: absolute;
}
.box2 h1{
    left: 41%;
    top: 15%;
    font-size: 55px;
}
.box2 p{
    left: 32%;
    top: 35%;
    font-size: 30px;
    
}

.box2 img{
    width: 100%;
    width: 100%;
    object-fit: cover;
}

.box3{
    grid-column-start: 1;
    grid-column-end:3;
    margin:0px 12px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    bottom: 25px;
   
}
.box3 h1,p {
    color: white;
    z-index: 1;
    position: absolute;
}
.box3 h1{
    left: 41%;
    top: 15%;
    font-size: 55px;
}
.box3 p{
    left: 32%;
    top: 35%;
    font-size: 30px;
    
}
.box3 img{
    width: 100%;
    width: 100%;
    object-fit: cover;
}

.footer{
    grid-column-start: 1;
    grid-column-end:3;
    position: relative;
    bottom: 25px;
    background-color: bisque;
}
.nav{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center; 
    gap: 20px;
}
.titl{
    width: 150px;
    height: 70px;
    text-align:center;
    align-self:flex-end;
    font-size: 30px;
}
#logo{
    position: relative;
    bottom: 12px;
    right:200px;
    font-size: 50px;
}
.home{
    color: blue;
}

.titl a{
    color: black;
}
.modal{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 380px;
    height: 250px;
    max-height:350px;
    border:  1px solid gray;
    transition: 200ms ease-in-out;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)scale(0);
    z-index: 10;
    display: none;
}
.modal.active{
    transform: translate(-50%,-50%)scale(1);
    display: block;
}
.modal.wel{
    margin-top: 25px;
    font-size: 100px;
    font-weight: 700;
}
.Q{
    margin-top: 40px;
    font-weight: 300;
}
.inputform{
    margin-top: 40px;
    text-decoration: none;
}
.inputform h4{
    font-weight: 100;
    margin-bottom: 5px;  
}

.inputfield_l h4{
    position: relative;
    left: -46px; 
}

.inputfield_p h4{
    position: relative;
    left: -50px;
}

.btn{
   width: 50%;
   margin-top: 40px;
}
.btn button{
    background-color: black;
    color: white;
    height: 38px;
    width: 199px;
    font-size: 20px;
    border-radius: 11px;
    border: gray solid 1px;
    font-family: 100;
    text-align: center;
    
}
input{
   height: 30px;
   width: 199px;
   border: 1px grey solid;
   border-radius: 9px;
}
button:hover{
    background-color: white;
    color: black;
}
#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  
}
#overlay.active{
    opacity:1;
    pointer-events: all;
    display: block;
}
.modal{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 380px;
    height: 380px;
    border:  1px solid gray;
    transition: 200ms ease-in-out;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)scale(0);
    z-index: 10;
    display: none;
}
.modal.active{
    transform: translate(-50%,-50%)scale(1);
    display: block;
}
div .close_btn{
    position: absolute;
    left: 90%;
    top: 18px;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer; 
    font-size: 1.25rem;
}

.modal .sol{
    font-weight: 100;
    font-size: 22px; 
}
.modal .wel{
    margin-top: 25px;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}
.inputform{
    margin-top: 40px;
    text-decoration: none;
}
.inputform h4{
    font-weight: 100;
    margin-bottom: 5px;  
}

.inputfield_l h4{
    position: relative;
    left: -46px; 
}

.inputfield_p h4{
    margin-top: 25px;
    position: relative;
    left: -50px;
}

.btn{
   width: 100%;
   margin-top: 40px;
}
.btn button{
    background-color: black;
    color: white;
    height: 38px;
    width: 199px;
    font-size: 20px;
    border-radius: 11px;
    border: gray solid 1px;
    font-family: 100;
    text-align: center;
    
}
input{
   height: 30px;
   width: 199px;
   border: 1px grey solid;
   border-radius: 9px;
}
button:hover{
    background-color: white;
    color: black;
}
#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  
}
#overlay.active{
    opacity:1;
    pointer-events: all;
    display: block;
}
form input{
    font-size: 18px;
    font-family:"playfair";
    padding: 0px 5px;
}





    

