*{
    margin:0;
    padding: 0;
}
body{
    min-height: 100vh;

}
.container{
    display: flex;
    width: 99.5%;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    max-height:1660px;
}
a{
    text-decoration: none;
    color: black;
}

.Heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin:10px 12px;
    width: 98%;
    height: 90px;
}

.Info{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}
.Info .home{
    color: blue;
}

h1 #main{
    font-size: x-large;
   
}

#Login{

    background-image: url(/pictures/charlesdeluvio-Mv9hjnEUHR4-unsplash.jpg);
    position: relative;
    background-size: cover; 
    background-size: 100%;
    background-position: center;
    width: 70px;
    height: 56px;
    border-radius: 20px;


}
.item{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column; 
    align-content: center;   
}

#b1 h1{
    position: relative; 
    top:-60px;
    font-size: 70px; 
    color: white;  
}
.box {
    display: flex; /* Apply flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Optional: Center text within the div */
    background-color: rgb(255, 255, 255);
    width: 99%;
    height: 100%;
    min-width: 500px;
    min-height: 450px;
    margin: 10px 10px;
    border: 2px solid black;
    border-radius: 14px;
    z-index: 1;
    
   
  }
  #queue{
    background-color:rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
  }
  .box button{
    position: relative;
    top: 30px;
    height: 70px;
    width: 180px;
    border: 1px rgb(12, 12, 12) solid;
    border-radius: 14px;
  }
#b1{
   background-image: url(/pictures/1.jpg);
   position: relative;
   background-size: cover; 
   background-size: 100%;
   background-position: center;
   overflow: hidden;
}
#b1::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the tint */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#b2{
    background-image: url(/pictures/2.jpg);
    position: relative;
    background-size: cover; 
    background-size: 100%;
    background-position: center;
    overflow: hidden;
 }
 #b2::after {
     content: "";
     background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the tint */
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: -1;
 }

#b2 h1{
    position: relative; 
    top:-60px;
    font-size: 70px; 
    color: rgb(255, 255, 255);  
}
#b2 h2{
    margin: 0px 50px;
    color: white;
    line-height: 2;
    font-weight: 300;
}
#b3{
    background-image: url(/pictures/3.jpg);
    position: relative;
    background-size: cover; 
    background-size: 100%;
    background-position: center;
    overflow: hidden;
 }
 #b3::after {
     content: "";
     background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the tint */
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: -1;
 }

#b3 h1{
    position: relative; 
    top:-60px;
    font-size: 70px; 
    color: rgb(255, 255, 255);  
}
#b3 h2{
    margin: 0px 50px;
    color: white;
    line-height: 2;
    font-weight: 300;
}
#footer{
    display: flex;
    background-color: black;
    height:auto;
    min-height:180px;
    color: white;   
}
#login:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
#queue:hover{
    background-color: white;
    color: black;
}
.modal{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 380px;
    height: 250px;
    max-height:350px;
    border:  1px solid gray;
    transition: 200ms ease-in-out;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)scale(0);
    z-index: 10;
    display: none;
}
.modal.active{
    transform: translate(-50%,-50%)scale(1);
    display: block;
}
.modal.wel{
    margin-top: 25px;
    font-size: 100px;
    font-weight: 700;
}
.Q{
    margin-top: 40px;
    font-weight: 300;
}
.inputform{
    margin-top: 40px;
    text-decoration: none;
}
.inputform h4{
    font-weight: 100;
    margin-bottom: 5px;  
}

.inputfield_l h4{
    position: relative;
    left: -46px; 
}

.inputfield_p h4{
    position: relative;
    left: -50px;
}

.btn{
   width: 50%;
   margin-top: 40px;
}
.btn button{
    background-color: black;
    color: white;
    height: 38px;
    width: 199px;
    font-size: 20px;
    border-radius: 11px;
    border: gray solid 1px;
    font-family: 100;
    text-align: center;
    
}
input{
   height: 30px;
   width: 199px;
   border: 1px grey solid;
   border-radius: 9px;
}
button:hover{
    background-color: white;
    color: black;
}
#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  
}
#overlay.active{
    opacity:1;
    pointer-events: all;
    display: block;
}
.modal{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 380px;
    height: 380px;
    border:  1px solid gray;
    transition: 200ms ease-in-out;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)scale(0);
    z-index: 1;
    display: none;
}
.modal.active{
    transform: translate(-50%,-50%)scale(1);
    display: block;
}
div .close_btn{
    position: absolute;
    left: 90%;
    top: 18px;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer; 
    font-size: 1.25rem;
    z-index: 1;
}

.modal .sol{
    font-weight: 100;
    font-size: 22px; 
}
.wel{
    margin-top: 16px;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
}
#buttons{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
}
.inputform{
    margin-top: 40px;
    text-decoration: none;
}
.inputform h4{
    font-weight: 100;
    margin-bottom: 5px;  
}

.inputfield_l h4{
    position: relative;
    left: -46px; 
}

.inputfield_p h4{
    margin-top: 25px;
    position: relative;
    left: -50px;
}
#imp{
    font-size: 18px;
    margin-top: 40px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
   width: 100%;
   margin-top: 28px;
}
.btn button{
    background-color: black;
    color: white;
    height: 38px;
    width: 199px;
    font-size: 20px;
    border-radius: 11px;
    border: gray solid 1px;
    font-family: 100;
    text-align: center;
    
}
input{
   height: 30px;
   width: 199px;
   border: 1px grey solid;
   border-radius: 9px;
}
button:hover{
    background-color: white;
    color: black;
}
#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  
}
#overlay.active{
    opacity:1;
    pointer-events: all;
    display: block;
}
form input{
    font-size: 18px;
    font-family:"playfair";
    padding: 0px 5px;
}



    
    
    
